/* Hoja de estilo para previsualizar enlaces */
#previewWin          {
   background-color:rgb(250,245,190);
   width:360px;
   height:280px;
   font:.8em arial,helvetica,sans-serif;
   padding:5px;
   position:absolute;
   visibility:hidden;
   top:10px;
   left:10px;
   border:1px #CC0 solid;
   clip:auto;
   overflow:hidden;
}

#previewWin h1, #previewWin h2 {
   font-size:1em;
}